.panel {
  display: flex;

  min-height: 4.05rem;

  padding: 0 1.5rem;

  background: #181818;

  border-top: 1px solid rgba(#fff, 0.3);

  .section {
    display: flex;
    flex: 1;
    align-items: center;

    &.song {
      justify-content: flex-start;
    }

    &.controls {
      justify-content: center;
    }

    &.progress {
      justify-content: flex-end;
    }
  }
}

.side-icon {
  width: 1.00rem;
  height: 1.00rem;
}

.side-button {
  margin: 0 .65rem;

  color: white;

  transition: color .3s ease;

  &.clear:hover {
    color: red;
  }

  &.update:hover {
    color: yellow;
  }
}
