@use '@app/common/styles/breakpoints.scss';

.panel {
  display: flex;

  min-height: 5.5rem;

  padding: 0 1.5rem;

  background: #1a1a1a;

  .section {
    display: flex;
    flex: 1;
    align-items: center;

    &.song {
      justify-content: flex-start;
    }

    &.controls {
      flex-direction: column;

      padding: .5rem 0;
      padding-top: 1rem;

      row-gap: .5rem;

      justify-content: center;

      .buttons {
        display: flex;

        column-gap: .15rem;
      }
    }

    &.progress {
      justify-content: flex-end;

      column-gap: 1.25rem;

      @include breakpoints.laptop {
        column-gap: 1rem;
      }
    }
  }
}

.side-icon {
  width: 1rem;
  height: 1rem;
}

.side-button {
  margin: 0 .65rem;

  color: #dedede;

  transition: color .3s ease;

  &.clear:hover {
    color: #FF8D85;
  }

  &.update:hover {
    color: #91A550;
  }
}

.options {
  display: flex;

  column-gap: .35rem;

  @include breakpoints.laptop {
    column-gap: .05rem;
  }
}
