.container {
  display: flex;
  flex-direction: column;

  .artist {
    font-size: 1.1rem;

    color: #ffeeee;
  }

  .title {
    font-size: 1.4rem;
    font-weight: 600;

    color: #A27E8E;
  }
}
