@use '@app/common/styles/ui.scss';

.container {
  display: flex;

  gap: 1rem;

  padding-right: 1rem;

  border-radius: .5rem;

  transition: .3s background-color;

  @include ui.interaction-mode('mouse') {
    cursor: pointer;

    &:hover {
      background: #141414;

      .text:hover .tags {
        text-decoration: underline;
      }
    }
  }

  .text {
    display: flex;
    align-items: center;

    flex-grow: 1;
  }

  .date {
    margin-left: auto;

    color: #666;
  }

  .tags {
    display: flex;
    gap: .5rem;
    flex-direction: column;

    .title {
      font-size: 13px;
      font-weight: 600;
    }
  }
}

.cover {
  flex-grow: 0;

  width: 4.25rem;

  aspect-ratio: 1 / 1;

  background: #202020;

  border-radius: .35rem;
}

.icon {
  width: 2rem;
}
