.container {
  display: flex;
  align-items: center;

  position: relative;

  flex-grow: 1;
}

.icon {
  position: absolute;

  left: 1rem;

  width: 1rem;
  height: 1rem;

  color: #555;
}

.input {
  flex-grow: 1;

  padding: .5rem 1rem;
  padding-left: 2.6rem;

  color: #bbb;
  background: #212121;

  border: none;
  border-radius: .5rem;
}
