.cover, .fallback {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .25rem;
}

.cover {
  color: transparent;

  &.clickable {
    cursor: pointer;

    transition: .3s filter;

    &:hover {
      filter: brightness(80%);
    }
  }
}

.hidden {
  display: none;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    color: #A27E8E;
  }
}
