.container {
  display: flex;
  flex-direction: column;

  padding: .45rem;

  row-gap: .1rem;

  background: #202020;

  border-radius: .5rem;

  box-shadow: rgba(black, 0.1) 0.25rem -0.25rem 1rem 1rem;
}

.icon {
  margin-left: auto;
}
