$container-width: 21.5rem;

.container {
  display: flex;
  flex-direction: column;

  min-width: $container-width;

  padding: 2rem 2.25rem;

  background: #101010;

  border-right: 1px solid #333;
}

.cover {
  margin-top: auto;

  width: $container-width;
  height: $container-width;
}

.item {
  display: flex;
  align-items: center;

  padding: .65rem .95rem;

  border-radius: .5rem;

  transition: .25s background-color;

  &:not(:last-child) {
    margin-bottom: .5rem;
  }

  &.active {
    background: #202020;
  }

  .icon {
    width: 1.0rem;
    height: 1.0rem;

    margin-right: .75rem;
  }
}
