@use '@app/common/styles/ui.scss';
@use '@app/common/styles/breakpoints.scss';

%button-styles {
  .controls .button {
    .icon:not(.favorite) {
      color: #999;
    }

    &:hover {
      .icon:not(.favorite) {
        color: #cecece;
      }
    }

    &:active {
      .icon {
        color: #888;
      }
    }
  }
}

.container {
  display: flex;
  align-items: center;

  padding: 0.8rem 0.95rem;

  border-radius: .5rem;

  @include ui.interaction-mode('mouse') {
    transition: .2s background-color;

    &.clickable {
      cursor: pointer;
    }
  }

  &.highlighted {
    @extend %button-styles;
  }

  @include ui.interaction-mode('mouse') {
    &:hover {
      @extend %button-styles;

      .icon.favorite {
        color: #FF3E41;

        &:hover {
          color: #F50004;
        }
      }
    }
  }

  &.highlighted.muted {
    background: #1d1d1d;
  }

  &.highlighted.primary {
    background: #4B2F34;
  }

  &.highlighted.secondary {
    background: #1C2636;
  }

  @include ui.interaction-mode('mouse') {
    &:hover {
      background: #212121;
    }

    &.highlighted.secondary:hover {
      background: #232F43;
    }
  }

  $border-radius: .5rem;

  &.rounded.left {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &.rounded.right {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .name {
    display: inline-block;

    max-width: 70%;

    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;

    color: #ddd;
  }

  .controls {
    margin-left: auto;

    display: flex;

    align-items: center;
    justify-content: center;

    column-gap: .35rem;
  }

  .icon {
    height: 1.25rem;

    flex-shrink: 0;

    color: #bbb;

    &.add, &.replace {
      color: #555;
    }

    &.is.favorite {
      color: #FF3E41;
    }

    &:not(.is).favorite {
      color: transparent;
    }

    &.type {
      margin-right: .5rem;
    }

    @include ui.interaction-mode('mouse') {
      transition: .2s color;
    }
  }
}
