@use '@app/common/styles/breakpoints';

.container {
  display: flex;
  align-items: center;

  padding: 1.1rem 1.25rem;

  @include breakpoints.laptop {
    padding: .9rem 1rem;
  }

  border-radius: .5rem;

  :global(.hoverable) & {
    transition: .2s background-color;
  }

  :global(.hoverable) &.clickable {
    cursor: pointer;
  }

  &.highlighted, :global(.hoverable) &:hover {
    .controls .button {
      .icon {
        color: #999;
      }

      &:hover {
        .icon {
          color: #cecece;
        }
      }

      &:active {
        .icon {
          color: #888;
        }
      }
    }
  }

  &.highlighted.muted {
    background: #1d1d1d;
  }

  &.highlighted.primary {
    background: #4B2F34;
  }

  &.highlighted.secondary {
    background: #1C2636;
  }

  :global(.hoverable) &.highlighted.secondary:hover {
    background: #232F43;
  }

  :global(.hoverable) &:hover {
    background: #212121;
  }

  $border-radius: .5rem;

  &.rounded.left {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &.rounded.right {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .name {
    display: inline-block;

    max-width: 80%;

    @include breakpoints.laptop {
      max-width: 70%;
    }

    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;

    color: #ddd;
  }

  .controls {
    margin-left: auto;

    display: flex;

    align-items: center;
    justify-content: center;

    column-gap: .5rem;

    @include breakpoints.laptop {
      column-gap: .35rem;
    }
  }

  .icon {
    height: 1.25rem;

    flex-shrink: 0;

    color: #bbb;

    &.add, &.replace {
      color: #555;
    }

    &.type {
      margin-right: .75rem;
    }

    :global(.hoverable) & {
      transition: .2s color;
    }
  }
}
