.container {
  display: flex;
  align-items: center;

  justify-content: space-between;

  padding: 0.65rem;
  padding-left: 1.25rem;

  :global(.hoverable) &.clickable {
    cursor: pointer;
  }

  &.highlighted.muted {
    background: #191919;
  }

  &.highlighted.primary {
    background: #4B2F34;
  }

  &.highlighted.secondary {
    background: #1C2636;
  }

  :global(.hoverable) &.highlighted.secondary:hover {
    background: #232F43;
  }

  :global(.hoverable) &:hover {
    background: #202020;
  }

  $border-radius: .5rem;

  &.rounded.left {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &.rounded.right {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .name {
    display: flex;
    flex-direction: row;

    align-items: center;
  }

  .controls {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    > :not(:last-child) {
      margin-right: .25rem;
    }

    .button {
      transition: color .2s ease;

      color: #999;

      &:hover {
        color: lightsalmon;
      }
    }
  }

  .icon {
    &.add {
      width: 1.2rem;
      height: 1.2rem;
    }

    &.replace {
      width: 2.2rem;
      height: 2.2rem;
    }

    &.type {
      margin-right: .75rem;

      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
