.container {
  display: flex;
  align-items: center;

  &::before {
    content: '/';
  }
}

.crumb {
  &:not(:last-child)::after {
    content: '/';

    margin-left: .05rem;
  }

  .button {
    display: inline-block;
  }

  .button:hover {
    text-decoration: underline;
  }
}
