html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-size: 11.5px;
  font-family: 'Roboto Condensed', sans-serif;

  color: #eeeeee;
  background: #161616;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;

  overscroll-behavior: none;
}

button {
  margin: 0;
}

button, input {
  font-size: inherit;
  font-family: inherit;

  color: inherit;
  background: inherit;
}

:global(#app) {
  display: flex;
  flex: 1;
  flex-direction: column;

  max-width: 100%;
}

* {
  scrollbar-color: #292929 #161616;
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    height: 2px;
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: #161616;
  }

  ::-webkit-scrollbar-thumb {
    background: #232323;

    &:hover {
      background: #353535;
    }
  }

  outline: none;
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;

  src: local("Roboto Condensed"),
       url('./assets/fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 500;

  src: local("Roboto Condensed Medium"),
  url('./assets/fonts/RobotoCondensed-Medium.ttf');
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;

  src: local("Roboto Condensed Bold"),
       url('./assets/fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;

  src: local("Roboto"),
       url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;

  src: local("Roboto Medium"),
       url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;

  src: local("Open Sans"),
       url('./assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;

  src: local("Open Sans Bold"),
       url('./assets/fonts/OpenSans-Bold.ttf');
}
