html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
}

html, body, button, input {
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
}

:global(#app) {
  display: flex;
  flex: 1;
  flex-direction: column;

  max-width: 100%;

  color: #eeeeee;
  background: #161616;
}

* {
  scrollbar-color: #292929 #161616;
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    height: 3px;
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background: #161616;
  }

  ::-webkit-scrollbar-thumb {
    background: #232323;

    &:hover {
      background: #252525;
    }
  }

  outline: none;
}
