.container {
  display: flex;
  align-items: center;

  padding: .5rem .25rem;

  column-gap: .5rem;

  border-bottom: 1px solid #232323;
}

.icon {
  width: 1rem;
  height: 1rem;

  transition: .2s color;

  &:hover {
    color: #aaa;
  }

  &:active {
    color: #777;
  }
}

.icon, .crumbs {
  color: #777;
}

.crumb {
  transition: .2s color;

  &:hover {
    color: #bebebe;
  }
}
