.container {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  height: 100%;

  padding: 2.5rem 1rem;
  padding-bottom: 0;
}

.directories {
  display: flex;

  overflow: hidden;
  overflow-x: scroll;

  scrollbar-width: auto;

  height: 100%;

  //margin: 0 .75rem;
}
