@use '@app/common/styles/breakpoints.scss';

.container {
  display: grid;

  grid-template-rows: min-content;

  row-gap: .75rem;

  height: 100%;

  padding: 2.5rem 2rem 0;
}

.header {
  flex-shrink: 1;

  .title {
    margin: 0;

    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
  }
}
