@use '@app/common/styles/breakpoints.scss';

.main {
  display: flex;
  flex: 1;
  flex-direction: column;

  height: 100%;
  max-height: 100%;
}

.stack {
  display: grid;
  grid-template-columns: minmax(0, 0.265fr) minmax(0, 1.25fr) minmax(0, 0.35fr);

  @include breakpoints.laptop {
    grid-template-columns: minmax(0, 0.365fr) minmax(0, 1.25fr) minmax(0, 0.465fr);
  }

  flex: 1;

  overflow: hidden;
}

.wrapper {
  flex: 1;
  max-height: 100%;

  overflow: hidden;
}
