.main {
  display: flex;
  flex: 1;
  flex-direction: column;

  height: 100%;
  max-height: 100%;
}

.sidebar {
  min-width: 25rem;

  background: #0F0609;

  border-right: 1px solid #333;
}

.stack {
  display: flex;
  flex: 1;
  flex-direction: row;

  overflow: hidden;
}

.wrapper {
  flex: 1;
  max-height: 100%;

  overflow: hidden;
}
