@use '@app/common/styles/breakpoints.scss';

.container {
  display: flex;
  flex-direction: column;

  min-height: 0;

  padding: 0.25rem 1.75rem;
  padding-bottom: 0;

  background: #1b1b1b;

  border-bottom: 2px solid #141414;
}

.scrollable {
  flex-grow: 1;

  // shadow cutoff fix
  margin: 0 -2rem;
  padding: 0 2rem;

  overflow-y: scroll;

  scroll-snap-type: y proximity;
  scroll-snap-stop: always;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.prev {
  /**
   * Without this the lowermost history item ends up being
   * slightly visible (very jarring with bright album art)
   * even when the history section is fully scrolled out of view
   * (this only happens in Chrome).
   */
  margin-top: -1px;
}

.prev, .next {
  scroll-margin-bottom: .5rem;
}

.next {
  min-height: 100%;

  // Needed for the scroll to snap to .next on load.
  margin-top: 1px;

  scroll-snap-align: start;
}

.header {
  display: flex;

  align-items: center;

  position: sticky;

  top: -1px;

  padding-top: 1.75rem;
  padding-right: .5rem;
  padding-bottom: 1rem;

  background: #1b1b1b;

  .heading {
    margin: 0;

    font-size: 28px;
    font-weight: 700;

    font-family: "Open Sans", sans-serif;
  }

  .button {
    margin-top: .15rem;
    margin-left: auto;

    padding: .1rem .5rem;

    border-radius: .25rem;

    font-size: 11px;

    color: #ccc;
    background: #303030;

    transition: .2s background-color, .2s color;

    &:hover {
      color: #eee;
      background: #383838;
    }
  }
}

.info {
  padding: 1.5rem 0;

  color: #999;

  font-weight: 700;
  font-variant: small-caps;
}
