.container {
  display: flex;

  align-items: center;

  padding-right: .75rem;

  border-radius: .75rem;

  // TODO: improve hoverable handling
  body:not(:global(.hoverable)) &.focused {
    background: #242424;
  }

  :global(.hoverable) & {
    transition: .3s box-shadow, .3s background-color;
  }

  :global(.hoverable) & {
    cursor: pointer;
  }

  &:hover {
    background: #222222;

    box-shadow: .25rem .1rem .5rem .65rem rgba(0, 0, 0, 0.07);
  }

  &:active {
    background: #242424;

    box-shadow: none;
  }
}

.name {
  display: flex;
  flex-direction: column;

  max-width: 65%;

  .title, .artist {
    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;
  }

  .title {
    font-size: 12.5px;

    margin-bottom: .25rem;

    color: #dedede;
  }

  .artist {
    font-size: 11px;

    color: #bbb;
  }
}

.cover {
  width: 4rem;
  height: 4rem;

  margin-right: 1rem;

  background: #161616;

  border-radius: .25rem;

  .icon {
    width: 1.45rem;
    height: 1.45rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;

  padding: .5rem 0;

  align-self: stretch;

  margin-left: auto;

  font-size: 10px;

  color: #999;
}

.duration {
  font-weight: 500;
}
