@use '@app/common/styles/breakpoints.scss';

.container {
  position: absolute;

  display: flex;
  flex: 1;

  top: 17.5%;
  left: 50%;
  right: auto;
  bottom: auto;

  width: 30vw;

  @include breakpoints.laptop {
    width: 40vw;
  }

  max-height: 55vh;

  margin-right: -50%;

  overflow: hidden;

  color: white;
  background: #181818;

  border-radius: .75rem;

  transform: translateX(-50%);
}

.overlay {
  position: fixed;
  inset: 0;

  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);

  background-color: rgba(#121212, 0.8);
}
