.container {
  display: flex;
  align-items: center;

  width: 12.5rem;

  padding: .6rem .75rem;

  border-radius: .25rem;

  cursor: pointer;

  transition: .2s background-color;

  &:hover {
    background: #181818;
  }
}

.text {
  color: #dedede;
}

.icon {
  width: .75rem;
  height: .75rem;

  margin-left: auto;

  color: #666;
}
