.group {
  display: flex;
  align-items: center;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;

  &.prev, &.next {
    width: 1.5rem;
    height: 1.5rem;
  &.prev {
    transform: rotateY(180deg);
  }
}

.button {
  margin: 0 0.25rem;

  color: #dedede;

  transition: color .3s ease;

  &:hover {
    color: #aaa;
  }

  &.toggle {
    margin-right: -0.6rem;
  }
}
