.group {
  display: flex;
  align-items: center;

  column-gap: 1rem;
}

.icon {
  height: 1.4rem;

  &.prev {
    transform: rotateY(180deg);
  }
}

.button {
  color: #dedede;

  transition: color .3s ease;

  &:hover {
    color: #aaa;
  }

  &.stop {
    margin-left: -.25rem;
  }
}
