.button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 .5rem;

  color: #999;

  cursor: pointer;

  transition: color .3s ease;

  &:hover {
    color: green;
  }
}
