@use '@app/common/styles/scrollbar.scss';

.container {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  row-gap: .65rem;

  padding-bottom: 1.25rem;

  @include scrollbar.configuration('none');
}
